/* WhiteCard.css */

.card-component {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 400px;
  min-height: 80%;
}
.card-image-container{
  width: 400px;
  height: 260px;
  overflow: hidden; 
}
.card-image {
  object-fit: cover;
  width: 100%;
  /*height: auto;*/
  height: 260px;
  display: block;
}

.card-content {
  padding: 20px;
}
