
.home-container {
    margin: 7rem 10rem;
    text-align: center;
  }

.home-container h1{
    margin: 4pc;
}
.image-category-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media(max-width:768px){
    .home-container {
        margin: 2rem 3rem;
        text-align: center;
  }

    .image-category-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:480px){
    .image-category-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}